<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/logo.svg" alt="Лого сайта">
    </div>
    <nav class="header-nav">
          <div class="header-nav-item">Главная</div>
          <div class="header-nav-item">О компании</div>
          <div class="header-nav-item">Каталог</div>
    </nav>
  </div>
  <div class="header-left">
    <div class="header-right-logo">
      <img src="/assets/Phone.svg" alt="Телефон">
    </div>
    <nav class="header-left">
      <div class="header-nav-item">+7 (965) 084-29-29</div>
      <div class="header-nav-item">
        <img src="/assets/Vector.svg" alt="Избранное">
      </div>
      <button class="button-mask-group">
        <div class="header-right-logo">
          <img src="/assets/Mask group.svg" alt="Корзина">
        </div>
        <div>Пусто</div>
      </button>
    </nav>
    </div>
</div>


<div class="top-bar">
  <nav class="header-nav">
    <div class="header-logo-top-bar">
      <img src="/assets/light.svg" alt="Каталог">
    </div>
    <div class="header-nav-item">Каталог</div>
    <div class="header-nav-item">Стройматериалы</div>
    <div class="header-nav-item">Инструменты</div>
    <div class="header-nav-item">Электрика</div>
    <div class="header-nav-item">Интерьер и одежда</div>
  </nav>
  <nav class="header-nav">
    <div class="header-nav-item">
      <button class="header-search">
        <input class="header-search-input" type="text" value="Поиск, например Круг зачистной">
        <img src="/assets/search.svg" alt="Поиск">
      </button>
    </div>
    <button class="header-map">
      <img src="/assets/map-pin.svg" alt="Локация">
      Москва
    </button>
  </nav>
</div>
